@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");


:root {
    --Pop: "Poppins", sans-serif;
    --Great: "Great Vibes", cursive;
    --Dark: #233243;
    --LighiDark: #888888;
    --Read: #e4292a;
    --or: #ff601b;
    --yl: #ffb90f;
    --w: #fff;
}

/* ============= Loder ================ */

#loding {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--w);
    z-index: 9999;
    background-repeat: no-repeat;
    background-size: cover;
  }






/* ============= Loder ================ */


.top-2 {
    justify-content: center;
    padding: 0;
    background:  url(../img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.top-2 h1 {
    position: relative;
    padding: 80px 0 50px ;
    text-transform: uppercase;
    font-family: var(--Pop);
    font-weight: 700;
    line-height: 78px;
    font-size: 64px;
    text-align: center;
    color: var(--w);
}

.top-2 h1::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 44%;
    width: 101px;
    height: 6px;
    background: var(--or);
    border: none;
    border-radius: 20px;
}

.top-2 .in {
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--w);
}

.top-2 h2 {
    font-family: var(--Pop);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
}

.in .a-box {
    background: var(--or);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.in input {
    border: none;
    outline: none;
}

.img-1 {
    flex: 1;
    padding: 0 110px 0 0 ;
    
}

.text-2 {
    flex: 1;
}

.text-2 h3 {
    font-family: var(--Pop);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--LighiDark);
    padding: 0 0 30px 0;
}

.company .img-1 {
    flex: 1;
    padding: 0 0 0 44px;
}

.company .text-2 h3 {
    padding: 0 58px 23px 0;
}