@media (max-width: 1880px) {

    .image {
        width: 95%;
    }

}

@media (max-width: 1800px) {

    .container-xxl {
    max-width: 1701px;
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 46px;
        line-height: 72px;
        padding: 11px 0 17px 0;
    }

    .text-2 h3 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 17px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 40px 0;
    }

    .p-box h1 {
        text-align: center;
        padding: 0;
        font-size: 34px;
        font-weight: 600;
        font-family: var(--Pop);
    }


    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 61px;
        line-height: 78px;
    }

    .top h1 {
        font-family: var(--Great);
        font-size: 70px;
        line-height: 10px;
        font-weight: 400;
        color: var(--or);
    }

    .premium button {
        margin-top: 43px;
    }

    .slider .team {
        border-radius: 15px;
        padding: 29px;
        background: var(--w);
        width: 95%;
    }

    .slider {
        position: absolute;
        left: 14%;
        bottom: -145px;
    }

    .image {
        width: 93%;
    }

    .m-box h1 {
        padding: 30px 30px 5px;
        font-size: 21px;
        font-weight: 700;
        line-height: 31px;
        text-align: left;
        color: var(--Dark);
    }

    .empty-box {
        background: var(--LighiDark);
        width: 356px;
        height: 343px;
        border-radius: 20px 20px 0 0;
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 44px;
        line-height: 72px;
        padding: 11px 0 17px 0;
    }

    .company .img-2 {
        width: 23%;
        position: absolute;
        left: 865px;
        bottom: -25px;
        border: 12px solid var(--w);
    }
    
    .company .img-1 .after {
        position: absolute;
        left: 1000px;
        bottom: 65px;
        width: 22%;
    }

}

@media (max-width: 1680px) {

    .tabs {
       
        width: 732px;
        height: 102px;
     
    }
    
    .carousel-caption {
        top: 123px;
    }

    .container-xxl {
        max-width: 1547px;
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 42px;
        line-height: 72px;
        padding: 11px 0 17px 0;
    }

    .text-2 h1 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 5px;
        padding: 0 0 11px 0;
        text-transform: uppercase;
        color: var(--or);
    }

    .img-1 .img-2 {
        width: 27%;
    }

    .text-2 h3 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 40px 0;
    }

    .p-box .img img {
        width: 93%;
    }

    .pa-box .img-3 img {
        position: absolute;
        top: -22px;
        right: 27px;
        width: 229px;
    }

    .product-box .p-1 p {
        position: relative;
        padding: 31px 90px 31px 31px;
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
    }

    .other button {
        margin: 44px 0 0;
    }

    .other .text-2 h3 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 15px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 40px 0;
    }

    .slider .team {
        border-radius: 15px;
        padding: 29px;
        background: var(--w);
        width: 85%;
    }

    .slider {
        position: absolute;
        left: 12%;
        bottom: -145px;
    }

    .image {
        width: 90.5%;
        height: 90%;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 319px;
        height: 307px;
        border-radius: 20px 20px 0 0;
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 37px;
        line-height: 72px;
        padding: 0;
    }

    .company .img-2 {
        width: 25%;
        position: absolute;
        left: 789px;
        bottom: -25px;
        border: 12px solid var(--w);
    }

    .company .img-1 .after {
        position: absolute;
        left: 945px;
        bottom: 65px;
        width: 22%;
    }

}

@media (max-width: 1600px) {
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 4px 18px;
    }

    .container-xxl {
        max-width: 1500px;
    }

    .img-1 {
        flex: 1;
        padding: 0 0 0 173px;
    }

    .img-1 .after {
        position: absolute;
        left: 160px;
        bottom: 39px;
    }

    .img-1 .img-2 {
        width: 25%;
        left: 49px;
    }

    .img-1 .after {
        position: absolute;
        left: 160px;
        width: 28%;
        bottom: 26px;
    }

    .p-box .img img {
        width: 86%;
        transform: translate(36px, -45px);
    }

    .product-box .p-1 {
        background: var(--w);
        margin: 30px 4px;
        padding: 40px 473px 40px 40px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .product-box {
        position: relative;
        margin-top: 140px;
        background: var(--Dark);
        border-radius: 20px;
        padding: 75px 77px;
    }

    .product-box .p-1::before {
        content: '';
        position: absolute;
        border-radius: 15px;
        z-index: 0;
        background: linear-gradient(to right, var(--or), var(--Dark));
        width: 0;
        height: 100%;
        left: -3px;
        top: 0;
        transition: all 0.6S ease;
    }

    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 51px;
        line-height: 78px;
    }

    .top h1 {
        font-family: var(--Great);
        font-size: 57px;
        line-height: 10px;
        font-weight: 400;
        color: var(--or);
    }

    .top p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .premium button {
        margin-top: 26px;
    }

    .top .carousel-caption {
        top: 97px;
    }

    .image {
        width: 92.5%;
        height: 90%;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 306px;
        height: 252px;
        border-radius: 20px 20px 0 0;
    }

    .company .img-1 .img-2 {
        width: 25%;
        left: 766px;
        bottom: 4px;
    }

    .company button {
        margin-top: 39px;
    }

    .company .img-1 .after {
        position: absolute;
        left: 918px;
        bottom: 65px;
        width: 22%;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 52px;
        font-weight: 700;
    }

    .poster h2 {
        text-align: center;
        font-family: var(--Great);
        font-size: 60px;
        font-weight: 400;
        color: var(--or);
        margin: 0;
    }

    .poster .btn {
        transform: translateX(0);
        padding: 0 0 88px;
        cursor: default;
        position: relative;
        z-index: 1;
        left: 41%;
    }

}

@media (max-width: 1440px) {

    .carousel-inner h2 {
        font-family: var(--Great);
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        margin-top: 40px;
        color: var(--yl);
    }

    .tabs {
    width: 653px;
    height: 102px;
    }

    button {
        font-family: var(--Pop);
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        padding: 19px 38px;
        margin-top: 49px;
        border-radius: 10px;
        background: var(--or);
        color: var(--w);
        border: 2px solid transparent;
        transition: all 0.3s ease;
    }

    .container-xxl {
        max-width: 1374px;
    }

    .a-5 {
        max-width: 92%;
        height: auto;
    }

    .text-2 h3 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 15px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 8px 0;
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 31px;
        line-height: 72px;
        padding: 0;
    }

    .text-2 h1 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 21px;
        line-height: 31px;
        letter-spacing: 3px;
        padding: 0 0 0px 0;
        text-transform: uppercase;
        color: var(--or);
    }

    .text-2 p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 21px 0 0 0;
    }

    .img-1 .after {
        position: absolute;
        left: 150px;
        width: 26%;
        bottom: 17px;
    }

    .p-box {
        margin: 3px;
    }

    .pa-box .img-3 img {
        position: absolute;
        top: -22px;
        right: 27px;
        width: 208px;
    }

    .other button {
        margin: 6px 0 0;
    }

    .other .text-2 h3 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 20px 0;
    }

    .slider {
        position: absolute;
        left: 8%;
        bottom: -145px;
    }

    .image {
        width: 93.5%;
    }

    .p-box {
        margin: 15px;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 288px;
        height: 252px;
        border-radius: 20px 20px 0 0;
    }

    .company .text-2 p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 15px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 12px 0 0 0;
    }

    .company .img-1 {
        flex: 1;
        padding: 0 0 0 130px;
    }

    .company .img-1 .img-2 {
        width: 25%;
        left: 624px;
        bottom: 4px;
    }

    .company .img-1 .after {
        position: absolute;
        left: 737px;
        bottom: 56px;
        width: 24%;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 42px;
        font-weight: 700;
    }

}

@media (max-width: 1366px) {

    .a-1 {
        display: none;
    }

    .container-xxl {
        max-width: 1285px;
    }

    .nav-item a {
        margin: 0 0 0 4px;
    }

    .carousel-caption {
        top: 74px;
    }

    .img-1 .img-2 {
        width: 27%;
        left: 49px;
        bottom: 11px;
    }

    .img-1 .after {
        position: absolute;
        left: 150px;
        width: 28%;
        bottom: 71px;
    }

    .slider {
        position: absolute;
        left: 28%;
        bottom: -158px;
    }

    .image {
        width: 92.5%;
        height: 88%;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 374px;
        height: 354px;
        border-radius: 20px 20px 0 0;
    }

    .slider .team {
        border-radius: 15px;
        padding: 29px;
        background: var(--w);
        width: 100%;
    }

    .slider .team h1 {
        padding: 28px 0 10px;
        font-size: 16px;
        line-height: 27px;
        font-weight: 600;
        color: var(--Dark);
    }

    .slider .team h2 {
        color: var(--LighiDark);
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
    }

    .slider .btn img {
        padding: 30px 0 23px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .product-box h2 {
        position: relative;
        transform: translateY(-30px);
        line-height: 78px;
        font-family: var(--Pop);
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--w);
    }

    .pa-box .img-3 img {
        position: absolute;
        top: -14px;
        right: 11px;
        width: 181px;
    }

    .pa-box .img-4 img {
        position: absolute;
        top: -7px;
        right: 32px;
        width: 153px;
    }

    .product-box .p-1 p {
        position: relative;
        padding: 31px 90px 31px 31px;
        font-size: 31px;
        font-weight: 600;
        line-height: 54px;
    }

    .company .img-1 .after {
        position: absolute;
        left: 694px;
        bottom: 65px;
        width: 29%;
    }

    .poster .right img {
        position: absolute;
        top: 63px;
        right: 0;
    }

}

@media (max-width: 1280px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 4px 7px;
        font-size: 16px;
    }

    .container-xxl {
        max-width: 1217px;
    }

    .container-xxl {
        max-width: 1217px;
    }

    .carousel-inner h2 {
        font-family: var(--Great);
        font-weight: 400;
        font-size: 53px;
        line-height: 70px;
        text-align: center;
        margin-top: 18px;
        color: var(--yl);
    }

    .carousel-inner p {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 53px;
        line-height: 78px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 9px;
        color: var(--w);
    }

    .product-box h2 {
        position: relative;
        transform: translateY(-30px);
        line-height: 78px;
        font-family: var(--Pop);
        font-size: 58px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--w);
    }

    .product-box h1 {
        position: relative;
        font-family: var(--Great);
        font-weight: 400;
        font-size: 67px;
        line-height: 90px;
        color: var(--or);
    }

    .image {
        width: 93.5%;
        height: 87%;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 349px;
        height: 335px;
        border-radius: 20px 20px 0 0;
    }

    .company .img-1 .after {
        position: absolute;
        left: 655px;
        bottom: 65px;
        width: 29%;
    }

    .company .img-1 .img-2 {
        width: 25%;
        left: 584px;
        bottom: 48px;
    }

    .company .img-1 .after {
        position: absolute;
        left: 655px;
        bottom: 114px;
        width: 27%;
    }

    .poster .left img {
        position: absolute;
        top: 85px;
        width: 33%;
        left: 0;
    }

    .poster .right img {
        position: absolute;
        top: 85px;
        width: 33%;
        right: 0;
    }

}

@media (max-width: 1200px) {
    .img-1 .after {
        position: absolute;
        left: 128px;
        width: 28%;
        bottom: 122px;
    }

    .image {
        width: 98%;
        height: 87%;
    }

    .slider {
        position: absolute;
        left: 24%;
        bottom: -187px;
    }

    .company .img-1 .after {
        position: absolute;
        left: 610px;
        bottom: 137px;
        width: 27%;
    }

    .company .img-1 .img-2 {
        width: 25%;
        left: 533px;
        bottom: 93px;
    }
}

@media (max-width: 1024px) {

    .n-1 {
        display: none;
    }

    .n-2 {
        display: block;
    }

    .carousel-inner p {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 49px;
        line-height: 78px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 9px;
        color: var(--w);
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 72px;
        padding: 11px 0 17px 0;
        text-align: center;
    }

    .text-2 h1 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 5px;
        padding: 0 0 11px 0;
        text-transform: uppercase;
        color: var(--or);
        text-align: center;
    }

    .text-2 h3 {
        text-align: center;
        font-family: var(--Pop);
        font-weight: 400;
        margin-top: 142px;
        font-size: 18px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 48px 0;
    }

    .img-1 {
        flex: 0;
        padding: 0;
    }

    .a-5 {
        max-width: 92%;
        height: auto;
        margin-left: 308px;
        width: 50%;
    }

    .img-1 .after {
        position: absolute;
        left: -72px;
        width: 34%;
        bottom: 507px;
    }
    
    .img-1 .img-2 {
        width: 35%;
        left: -184px;
        bottom: 517px;
    }

    .img-1 .after {
        position: absolute;
        left: -72px;
        width: 34%;
        bottom: 576px;
    }

    .text-2 .btn-4 {
        display: flex;
        justify-content: center;
    }

    .product {
        display: grid;
    }

    .nav-tabs {
        width: 641px;
        background: rgba(255, 96, 27, .1);
        box-shadow: 0px 4px 6px 0px rgb(80 80 80 / 40%);
        border-radius: 20px;
        border: transparent;
        padding: 20px 0;
    }

    .tab-box {
        display: flex;
        justify-content: center;
    }

    .product-box h1, .product-box h2 {
        text-align: center;
    }

    .other .text-2 h3 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 20px 0;
        text-align: center;
    }

    .a-5 {
        max-width: 92%;
        height: auto;
        margin-left: 0;
        width: 92%;
    }

    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 44px;
        line-height: 78px;
    }

    .top p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
    }

    .slider {
        position: absolute;
        left: 7%;
        bottom: -466px;
    }

    .additional {
        padding: 126px 0 0;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 455px;
        height: 335px;
        border-radius: 20px 20px 0 0;
    }

    .a-5 {
        max-width: 92%;
        height: auto;
        margin-left: 265px;
        width: 68%;
    }

    .company .img-1 .after {
        position: absolute;
        left: 53px;
        bottom: 498px;
        width: 41%;
    }

    .company .img-1 .img-2 {
        width: 38%;
        left: -36px;
        bottom: 459px;
    }

    .company .text-2 p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 12px 0 0 0;
    }

    .premium .a-5 {
        max-width: 100%;
        height: auto;
        margin-left: 0px;
        width: 100%;
    }

    .f-nav .nav-icon, .f-nav .links {
        display: flex;
        justify-content: center;
    }

    footer .links {
        margin: 30px 0 69px;
        justify-content: flex-start;
    }

    .poster .container-xxl {
        max-width: 912px;
    }

    .poster .btn {
        transform: translateX(0);
        padding: 0 0 27px;
        cursor: default;
        position: relative;
        z-index: 1;
        left: 41%;
    }

    .poster-text {
        padding: 57px 0 31px;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 34px;
        font-weight: 700;
    }

    .poster h2 {
        text-align: center;
        font-family: var(--Great);
        font-size: 48px;
        font-weight: 400;
        color: var(--or);
        margin: 0;
    }

    .about .text-2 .img {
        margin-left: 220px;
    }

    .p-1 {
        display: grid;
        justify-content: center;
    }

    footer .text-1 h1 {
        font-size: 19px;
        text-align: center;
        font-weight: 500;
        color: var(--yl);
        font-family: var(--Pop);
        margin-bottom: 20px;
    }

    footer .text-1 {
        display: grid;
        transform: translate(-49px, 10px);
    }

    footer .text-1 a {
        text-align: center;
    }

    .pa-box .p-1 {
        display: flex;
        justify-content: flex-start;
    }

}

@media (max-width: 912px) {

    .carousel-inner p {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 44px;
        line-height: 78px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 9px;
        color: var(--w);
    }

    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 39px;
        line-height: 78px;
    }

    .top p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
    }

    .image {
        width: 97%;
        height: 84%;
    }

    .top .carousel-caption {
        top: 57px;
    }

    .slider {
        position: absolute;
        left: 10%;
        bottom: -428px;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 398px;
        height: 335px;
        border-radius: 20px 20px 0 0;
    }   

    .company .a-5 {
        max-width: 92%;
        height: auto;
        margin-left: 194px;
        width: 68%;
    }

    footer .links a {
        margin: 21px;
    }

    .navbar-nav {
        transform: translateX(-64px);
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    .poster .left img {
        position: absolute;
        top: 116px;
        width: 33%;
        left: 0;
    }

    .poster .right img {
        position: absolute;
        top: 125px;
        width: 33%;
        right: 0;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 30px;
        font-weight: 700;
    }

    .poster h2 {
        text-align: center;
        font-family: var(--Great);
        font-size: 39px;
        font-weight: 400;
        color: var(--or);
        margin: 0;
    }

    .poster .btn button {
        margin: 0 0 0;
        padding: 16px 39px;
    }

    .poster .btn {
        transform: translateX(0);
        padding: 0 0 23px;
        cursor: default;
        position: relative;
        z-index: 1;
        left: 39%;
    }

    .other .img-1 {
        padding: 0;
    }

    .other .img-1 img {
        margin: 0 0 0 35px;
        border-radius: 20px;
    }
    

}

@media (max-width: 820px) {
    .other .img-1 img {
        margin: 0 0 0 35px;
        border-radius: 20px;
        width: 91%;
    }

    .a-5 {
        max-width: 92%;
        height: auto;
        margin-left: 265px;
        width: 52%;
    }

    .img-1 .after {
        position: absolute;
        left: -62px;
        width: 31%;
        bottom: 620px;
    }           

    .img-1 .img-2 {
        width: 35%;
        left: -173px;
        bottom: 556px;
    }

    .slider {
        position: absolute;
        left: 7%;
        bottom: -434px;
    }

    .company .a-5 {
        max-width: 92%;
        height: auto;
        margin-left: 144px;
        width: 68%;
    }

    .company .img-1 .after {
        position: absolute;
        left: 70px;
        bottom: 540px;
        width: 39%;
    }

    .company .img-1 .img-2 {
        width: 38%;
        left: -25px;
        bottom: 489px;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 29px;
        font-weight: 700;
    }

    .carousel-inner p {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0px;
        color: var(--w);
    }

    .carousel-inner h2 {
        font-family: var(--Great);
        font-weight: 400;
        font-size: 45px;
        line-height: 32px;
        text-align: center;
        margin-top: 18px;
        color: var(--yl);
    }

    .carousel-inner h1 {
        font-family: var(--Pop);
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 6px;
        text-align: center;
        text-transform: uppercase;
    }

    footer .text-1 a {
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        line-height: 24px;
        text-decoration: none;
        color: var(--w);
    }

    footer .text-1 h1 {
        font-size: 19px;
        text-align: center;
        font-weight: 500;
        color: var(--yl);
        font-family: var(--Pop);
    }

    .empty-box {
        background: var(--LighiDark);
        width: 356px;
        height: 335px;
        border-radius: 20px 20px 0 0;
    }

    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 34px;
        line-height: 60px;
    }

    .top p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
    }
    
}

@media (max-width: 768px) {

    .carousel-inner p {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 35px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0px;
        color: var(--w);
    }

    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 33px;
        line-height: 60px;
    }

    .top p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 10px;
        line-height: 17px;
    }

    .premium button {
        margin-top: 26px;
        font-size: 14px;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 331px;
        height: 264px;
        border-radius: 20px 20px 0 0;
    }

    .text-2 h1 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 2px;
        padding: 0 0 11px 0;
        text-transform: uppercase;
        color: var(--or);
        text-align: center;
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 43px;
        line-height: 53px;
        padding: 11px 0 17px 0;
        text-align: center;
    }

    .company .a-5 {
        margin-top: 17px;
        max-width: 92%;
        height: auto;
        margin-left: 114px;
        width: 68%;
    }

    .poster {
        padding: 94px 0 0;
        position: relative;
    }

    .poster .right img {
        position: absolute;
        top: 63px;
        width: 31%;
        right: 0;
    }
    .poster .left img {
        position: absolute;
        top: 63px;
        width: 31%;
        left: 0;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 28px;
        font-weight: 700;
    }

    .poster-text {
        padding: 60px 0 23px;
    }

    .slider {
        position: absolute;
        left: 3%;
        bottom: -434px;
    }

}

@media (max-width: 600px) {

    .a-3 {
        display: none;
    }

    .nav-item a {
        margin: 0 0 0 -11px;
    }

    .additional .p-box .img img {
        width: 545px;
        transform: translate(0, 0);
    }

    .carousel-inner h1 {
        font-family: var(--Pop);
        font-weight: 300;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 6px;
        text-align: center;
        text-transform: uppercase;
    }

    .carousel-inner h1 {
        font-family: var(--Pop);
        font-weight: 300;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 6px;
        text-align: center;
        text-transform: uppercase;
    }

    .carousel-inner h2 {
        font-family: var(--Great);
        font-weight: 400;
        font-size: 31px;
        line-height: 11px;
        text-align: center;
        margin-top: 18px;
        color: var(--yl);
    }

    .carousel-inner p {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 27px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 12px;
        color: var(--w);
    }

    .carousel-caption {
        top: 51px;
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 53px;
        padding: 0 0 10px 0;
        text-align: center;
    }

    .text-2 h1 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0px;
        padding: 0 0 0px 0;
        text-transform: uppercase;
        color: var(--or);
        text-align: center;
    }

    .a-5 {
        max-width: 43%;
        height: auto;
        margin-left: 243px;
        width: 52%;
    }

    .img-1 .after {
        position: absolute;
        left: -31px;
        width: 31%;
        bottom: 616px;
    }

    .img-1 .img-2 {
        width: 32%;
        left: -104px;
        bottom: 584px;
        border: 9px solid var(--w);
        border-radius: 26px;
    }

    .text-2 h3 {
        text-align: center;
        font-family: var(--Pop);
        font-weight: 400;
        margin-top: 81px;
        font-size: 18px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 36px 0;
    }

    #product {
        margin-top: 68px;
    }

    .pa-box .img-3 img {
        position: absolute;
        top: -14px;
        right: -6px;
        width: 148px;
    }

    .pa-box .img-4 img {
        position: absolute;
        top: -7px;
        right: 13px;
        width: 125px;
    }

    .product-box .p-1 p {
        position: relative;
        padding: 14px 90px 15px 13px;
        font-size: 29px;
        font-weight: 600;
        line-height: 54px;
    }

    .slider .team {
        border-radius: 15px;
        padding: 29px;
        background: var(--w);
        width: 75%;
    }

    .top h1 {
        font-family: var(--Great);
        font-size: 47px;
        line-height: 5px;
        font-weight: 400;
        color: var(--or);
    }

    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 25px;
        line-height: 60px;
    }

    .top .carousel-caption {
        top: 45px;
    }

    .image {
        width: 96%;
        height: 77%;
    }

    .slider {
        position: absolute;
        left: 18%;
        bottom: -434px;
    }

    .empty-box {
        background: var(--LighiDark);
        width: 543px;
        height: 393px;
        border-radius: 20px 20px 0 0;
    }

    .company .img-1 .img-2 {
        width: 38%;
        left: -9px;
        bottom: 530px;
    }

    .company .img-1 {
        flex: 1;
        padding: 0 0 0 81px;
    }

    .company .img-1 .after {
        position: absolute;
        left: 59px;
        bottom: 568px;
        width: 39%;
    }

    .poster .btn button {
        margin: 0 0 0;
        font-size: 12px;
        padding: 10px 27px;
    }

    .poster-text {
        padding: 29px 0 23px;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 21px;
        font-weight: 700;
    }

    .poster h2 {
        text-align: center;
        font-family: var(--Great);
        font-size: 32px;
        font-weight: 400;
        color: var(--or);
        margin: 0;
    }

    footer .text-1 {
        display: grid;
        transform: translate(0, 0px);
    }

    footer .text-1 h1 {
        font-size: 19px;
        text-align: center;
        font-weight: 500;
        color: var(--yl);
        font-family: var(--Pop);
        margin-top: 20px;
    }

    .navbar-brand img {
        width: 80%;
    }

    .product-box h2 {
        position: relative;
        transform: translateY(-30px);
        line-height: 78px;
        font-family: var(--Pop);
        font-size: 49px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--w);
    }

    .other {
        margin-top: 46px;
    }
    

    .premium {
        position: relative;
        padding: 58px 0 0;
    }

    .additional {
        padding: 59px 0 0;
    }

    .company {
        padding: 78px 0 0;
        position: relative;
    }

    .links i {
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 50px;
        transition: all 0.3s ease;
    }

    .links .fb i {
        padding: 20px;
        color: var(--w);
        background: var(--Read);
    }

}

@media (max-width: 414px) {

    .empty-box {
        background: var(--LighiDark);
        width: 360px;
        height: 207px;
        border-radius: 20px 20px 0 0;
    }

    .navbar-brand img {
        width: 59%;
    }

    .carousel-control-next img {
        display: none;
        padding: 9px;
        border-radius: 100px;
        background: var(--yl);
    }

    .carousel-control-prev img {
        display: none;
        padding: 9px;
        border-radius: 100px;
        background: var(--yl);
    }

    .carousel-inner h1 {
        font-family: var(--Pop);
        font-weight: 300;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
    }

    .carousel-caption {
        top: 3px;
    }

    .carousel-inner h2 {
        font-family: var(--Great);
        font-weight: 400;
        font-size: 24px;
        line-height: 11px;
        text-align: center;
        margin-top: 18px;
        color: var(--yl);
    }

    .carousel-inner p {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 19px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 8px;
        color: var(--w);
    }

    .carousel-inner h2 {
        font-family: var(--Great);
        font-weight: 400;
        font-size: 22px;
        line-height: 6px;
        text-align: center;
        margin-top: 18px;
        color: var(--yl);
    }

    .text-2 h2 {
        font-family: var(--Pop);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 53px;
        padding: 0 0 10px 0;
        text-align: center;
    }

    .text-2 h1 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        letter-spacing: 0px;
        padding: 0 0 0px 0;
        text-transform: uppercase;
        color: var(--or);
    }
    
    .a-5{
        max-width: 43%;
        height: auto;
        margin-left: 147px;
        width: 52%;
    }

    .img-1 .after {
        position: absolute;
        left: -15px;
        width: 28%;
        bottom: 830px;
    }

    .text-2 p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 12px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 9px 0 0 0;
    }

    .tab-box .nav-item a {
        font-size: 12px;
        background: transparent;
    }

    .nav-item a svg {
        width: 26px;
        margin-left: 31px;
    }

    .nav-tabs .nav-link.active {
        padding: 0;
    }

    .tab-box .nav-item a {
        padding: 0 15px;
        font-size: 12px;
        background: transparent;
    }

    .sv-1.nav-item a svg {
        width: 26px;
        margin-left: 9px;
    }

    .sv-2.nav-item a svg {
        width: 26px;
        margin-left: 0px;
    }

    .nav-tabs .nav-link {
        color: var(--or);
        background-color: transparent;
        border-color: transparent;
        padding: 0;
    }

    .img-1 .after {
        position: absolute;
        left: -16px;
        width: 31%;
        bottom: 690px;
    }

    .navbar-nav {
        transform: translateX(0px);
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar {
        outline: none;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
    }    

    .img-1 .img-2 {
        width: 28%;
        left: -54px;
        bottom: 663px;
        border: 9px solid var(--w);
        border-radius: 26px;
    }

    .product-box {
        position: relative;
        margin-top: 140px;
        background: var(--Dark);
        border-radius: 20px;
        padding: 28px 24px;
    }

    .product-box .p-1 p {
        position: relative;
        padding: 8px 0px 8px 8px;
        font-size: 20px;
        font-weight: 600;
        line-height: 54px;
    }

    .other .text-2 h3 {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--LighiDark);
        padding: 0 0 20px 0;
        text-align: center;
        margin-top: 25px;
    }

    .top h1 {
        font-family: var(--Great);
        font-size: 32px;
        line-height: 5px;
        font-weight: 400;
        color: var(--or);
    }

    .top h2 {
        font-family: var(--Pop);
        font-weight: 700;
        font-size: 15px;
        line-height: 60px;
    }

    .top p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 5px;
        line-height: 11px;
        display: none;
    }

    .top .carousel-caption {
        top: 52px;
    }

    .image {
        width: 94%;
        height: 70%;
    }
    
    .slider .team h1 {
        padding: 13px 0 10px;
        font-size: 13px;
        line-height: 27px;
        font-weight: 600;
        color: var(--Dark);
    }

    .slider .team h2 {
        color: var(--LighiDark);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }

    .additional {
        padding: 55px 0 0;
    }

    .slider {
        position: absolute;
        left: 18%;
        bottom: -357px;
    }

    footer .text-1 {
        display: grid;
        transform: translate(0px, -51px);
    }

    .t-1 {
        margin-left: -34px;
    }

    .company .img-1 {
        flex: 1;
        padding: 0 0 0 0px;
    }

    .company .img-1 .after {
        position: absolute;
        left: -24px;
        bottom: 652px;
        width: 39%;
    }

    .company .img-1 .img-2 {
        width: 38%;
        left: -76px;
        bottom: 628px;
    }

    .company .text-2 p {
        font-family: var(--Pop);
        font-weight: 400;
        font-size: 12px;
        line-height: 27px;
        color: var(--LighiDark);
        padding: 12px 0 0 0;
    }

    .poster h2 {
        text-align: center;
        font-family: var(--Great);
        font-size: 22px;
        font-weight: 400;
        color: var(--or);
        margin: 0;
    }

    .poster h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--w);
        font-size: 15px;
        font-weight: 700;
    }

    .poster .btn button {
        margin: 0 0 0;
        font-size: 8px;
        padding: 2px 21px;
        border-radius: 4px;
    }

    .poster .right img {
        position: absolute;
        top: 79px;
        width: 31%;
        right: 0;
    }

    .poster .left img {
        position: absolute;
        top: 77px;
        width: 31%;
        left: 0;
    }

    footer {
        margin: 62px 0 0;
        background: var(--Dark);
        padding: 73px 103px 2px;
    }

    .poster .btn {
        transform: translateX(0);
        padding: 0 0 16px;
        cursor: default;
        position: relative;
        z-index: 1;
        left: 36%;
    }

}