@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
    --Pop: "Poppins", sans-serif;
    --Great: "Great Vibes", cursive;
    --Dark: #233243;
    --LighiDark: #888888;
    --Read: #e4292a;
    --or: #ff601b;
    --yl: #ffb90f;
    --w: #fff;
}


h1, h2, h3, h4, h5, h6, a, p {
    padding: 0;
    margin: 0;
}

body {
    background: #f9f9f9;
    font-family: var(--Pop);
    width: 100vw;
    overflow-x: hidden;
}

.html {
scroll-behavior: smooth;
}

.n-2 {
  display: none;
}
  
/* =========== Navbar ============ */

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 4px 28px;
}

.container-xxl {
    max-width: 1812px;
}

.navbar-collapse {
    flex: 0;
}

.navbar-toggler {
    outline: none;
}

.nav-item a {
    margin: 0 0 0 15px;
    border-radius: 20px;
    transition: all 0.3s ease ;
    color: var(--LighiDark);
    padding: 4px 28px;
    font-family: var(--Pop);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.nav-item a:hover {
    color: var(--w);
    background: var(--or);
    border-radius: 30px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--or);
    margin: 10px;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .links a:hover {
    color: var(--Dark);
  }
  
  .links .em::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background: linear-gradient(to right, var(--Read), var(--Dark));
    bottom: -10px;
    left: 0;
    transition: all 0.5s ease;
  }
  
  .links .em:hover::after {
    width: 310px;
  }
  
  .links i {
    padding: 10px 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  
  .links .fb i {
    padding: 9px 13px;
    color: var(--w);
    background: var(--Read);
  }
  
  .links .fb i:hover {
    background: transparent;
    border-color: var(--Read);
    color: var(--Read);
  }
  
  .links .tw i {
    color: var(--w);
    background: var(--or);
  }
  
  .links .tw i:hover {
    background: transparent;
    border-color: var(--or);
    color: var(--or);
  }
  
  .links .in i {
    color: var(--w);
    background: var(--yl);
  }
  
  .links .in i:hover {
    background: transparent;
    border-color: var(--yl);
    color: var(--yl);
  }

  .wrapper-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    transition: transform 330ms ease-out;
  }
  
  .wrapper-menu.open {
    outline: none;
    transform: rotate(-45deg);  
  }
  
  .line-menu {
    outline: none;
    background-color: #000;
    border-radius: 5px;
    width: 100%;
    height: 6px;
    border: none;
    outline: none;
  }
  
  .line-menu.half {
    outline: none;
    width: 50%;
  }
  
  .line-menu.start {
    outline: none;  
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    outline: none;
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    outline: none;  
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    outline: none;
    transform: rotate(-90deg) translateX(-3px);
  }
  


/* =========== End of Navbar ============ */


/* =========== Header ============ */

.carousel-inner h1 {
    font-family: var(--Pop);
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

.carousel-caption {
    top: 222px;
}

.carousel-inner h2 {
    font-family: var(--Great);
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    margin-top: 50px;
    color: var(--yl);
}

.carousel-inner p {
    font-family: var(--Pop);
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px;
    color: var(--w);
}

header {
    margin-top: 40px;
}

 button {
    font-family: var(--Pop);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;text-align: center;
    padding: 19px 38px;
    border-radius: 10px;
    background: var(--or);
    color: var(--w);
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

 button:hover {
    background: transparent;
    border-color: var(--or);
    color: var(--or);
    font-weight: 700;
}

.carousel-control-prev img {
    padding: 15px;
    border-radius: 100px;
    background: var(--yl);
}

.carousel-control-next img {
    padding: 15px;
    border-radius: 100px;
    background: var(--yl);
}

/* =========== End of Header ============ */

/* =========== About ============ */

#about {
    position: relative;
    margin-top: 191px;
}

.img-1 .after {
  position: absolute;
  left: 216px;
  bottom: 48px;
}

.btn-4 {
  margin-top: 60px;
}

.img-1 .img-2 {
    position: absolute;
    left: 61px;
    bottom: -22px;
    border: 15px solid var(--w);
    border-radius: 40px;
}

.img-1 {
    flex: 1;
    padding: 0 0 0 244px;
}

.text-2 {
    flex: 1;
}

.text-2 h1 {
    font-family: var(--Pop);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: start;
    letter-spacing: 5px;
    padding: 0 0 11px 0;
    text-transform: uppercase;
    color: var(--or);
}

.text-2 h2 {
    font-family: var(--Pop);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 72px;
    padding: 11px 0 17px 0 ;
}

.text-2 h3 {
    font-family: var(--Pop);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--LighiDark);
    padding: 0 0 48px 0;
}

.text-2 .p-1 {
    padding: 46px;
}

.text-2 p {
    font-family: var(--Pop);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--LighiDark);
    padding: 23px 0  0 0;
}

.text-2 p img {
    margin-right: 20px;
}

/* =========== End of About ============ */


/* =========== Product ============ */

    .tab-box .active svg rect {
        fill: var(--or);
    }

    #product {
        margin-top: 243px;
    }

    .nav-tabs .nav-link.active {
        color: var(--or);
        background-color: transparent;
        border-color: transparent;
    }

    .nav-tabs .nav-link.active svg rect {
        fill: var(--or);
    }

    .tab-box .active span {
        color: var(--or);
    }

    .nav-tabs {
        background: rgba(255, 96, 27, .1);
        box-shadow: 0px 4px 6px 0px rgba(80, 80, 80, 0.4);
        border-radius: 20px;
        border: transparent;
        padding: 20px 0; 
    }

    .tab-box .nav-item a:hover {
        color: var(--or);
        background: transparent;
        border-radius: 0;
        border: transparent;
    }

    .tab-box .nav-item a svg rect {
        transition: all 0.3s ease;
    }

    .tab-box .nav-item a:hover svg rect {
    fill: var(--or);
    }

    .tab-box .nav-item a {
        font-size: 14px;
        background: transparent;
    }

    .bottom {
        padding: 120px 0 0;
    }
    
    .p-box .img img {
      transform: translate(13px, -45px);
    }

   .additional .p-box .img img {
     border-radius: 20px 20px 0 0;
      transform: translate(0, 0);
    }
    
    .p-box {
        margin: 21px;
    background: var(--w);
    display: grid;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 5px 56px 0px rgba(0, 0, 0, 0.1);
    }
    
    .p-box h1 {
    text-align: center;
    padding: 0;
    font-size: 36px;
    font-weight: 600;
    font-family: var(--Pop);
    }
    
    .p-box .btn img {
    padding: 30px 0 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    }
    
    .p-box .btn img:hover {
    transform: scale(1.3);
    }
    
    .p-box .btn {
    cursor: default;
    }
    
    .products .btn-2 button {
    padding: 19px 79px;
    }
    
    .products .btn-2 {
    transform: translate(710px, 44px);
    cursor: default;
    }

/* =========== End of Product ============ */


/* =========== Products-box ============ */

.product-box {
  position: relative;
  margin-top: 140px;
  background: var(--Dark);
  border-radius: 20px;
  padding: 125px 119px;
}

.product-box .p-1 {
  background: var(--w);
  margin: 30px 20px;
  padding: 40px 473px 40px 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-box .p-1:hover:before {
  width: 100%;
}



.product-box .p-1::before {
  content: '';
  position: absolute;
  border-radius: 15px;
  z-index: 0;
  background: linear-gradient(to right, var(--or), var(--Dark));
  width: 0;
  height: 100%;
  left: 20px;
  top: 0;
  transition: all 0.6S ease;
}

.product-box .p-1 p {
  position: relative;
  padding: 40px 90px 40px 40px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}

.product-box .p-1:hover p {
  color: var(--w);
}

.product-box .p-1:hover p svg path {
  fill: var(--w);
}

.product-box .p-1 p svg {
  position: relative;
  margin: 0 20px 0 0;
}

.product-box h1 {
  position: relative;
  font-family: var(--Great);
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: var(--or);
}

.product-box h2 {
  position: relative;
  transform: translateY(-30px);
  line-height: 78px;
  font-family: var(--Pop);
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--w);
}

.pa-box {
  position: relative;
}

.pa-box .img-4 img {
  position: absolute;
  top: -7px;
  right: 60px;
  width: 170px;
}

.pa-box .img-3 img {
  position: absolute;
  top: -22px;
  right: 60px;
  width: 254px;
}

/* =========== End of Products-box ============ */


/* =========== Other ============ */


.other {
    margin-top: 140px;
}

.other button {
    margin: 60px 0 0;
} 

.other .text-2 {
    padding: 0;
}

.other .img-1 {
    padding: 0 0 0 50px;
}

.other .img-1 img {
    border-radius: 20px;
}

/* =========== End of Other ============ */


/* =========== Additional ============ */

.additional {
  padding: 300px 0 0;
}
.btn-2 button {
    padding: 19px 79px;
}

.empty-box {
    background: var(--LighiDark);
    width: 389px;
    height: 369px;
    border-radius: 20px 20px 0 0;
}

.m-box h1 {
    padding: 30px 30px 5px;
    font-size: 21px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    color: var(--Dark);
}

.m-box h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--LighiDark);
    padding: 0 30px 30px;
}

.additional .bottom {
    padding: 50px 0 0;
}

/* =========== End of Additional ============ */


/* =========== Premium ============ */

.premium {
  position: relative;
  padding: 149px 0 0;
}

.top {
  position: relative;
}

.top img {
  border-radius: 15px;
}

.image {
  position: absolute;
  top: 0;
  border-radius: 15px;
  background: rgb(1 36 56 / 85%);
  width: 93%;
  height: 91%;
}

.top .carousel-caption {
  top: 122px;
}

.top h1 {
  font-family: var(--Great);
  font-size: 72px;
  line-height: 10px;
  font-weight: 400;
  color: var(--or);
}

.top h2 {
  font-family: var(--Pop);
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
}

.top p {
  font-family: var(--Pop);
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}
/* =========== End of Premium ============ */

/* =========== Company ============ */

.c-1 {
    display: none;
}

.company {
    padding: 140px 0 0;
    position: relative;
}

.company .img-2 {
    position: absolute;
    left: 889px;
    bottom: -35px;
    border: 15px solid var(--w);
    border-radius: 40px;
}

.company .img-1 {
    flex: 1;
    padding: 0 0 0 334px; 
}

.company .img-1 .after {
    position: absolute;
    left: 1062px;
    bottom:65px;
    width: 20%;
}

.company .text-2 p {
    font-family: var(--Pop);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--LighiDark);
    padding: 12px 0 0 0;
}

.company .text-2 h3 {
    padding: 0 0 23px 0;
}

/* =========== End of Company ============ */

/* =========== Poster ============ */


.poster {
    padding: 187px 0 0;
    position: relative;
  }
  
  .poster-box {
    background: var(--Dark);
    border-radius: 20px;
  }
  
  .poster-text {
    padding: 89px 0 47px;
  }
  
  .poster-box h1 {
    padding: 0;
    margin: 0;
  }
  
  .poster h2 {
    text-align: center;
    font-family: var(--Great);
    font-size: 72px;
    font-weight: 400;
    color: var(--or);
    margin: 0;
  }
  
  .poster h1 {
    text-transform: uppercase;
    text-align: center;
    color: var(--w);
    font-size: 64px;
    font-weight: 700;
  }
  
  .poster .btn {
    transform: translateX(736px);
    padding: 0 0 88px;
    cursor: default;
    position: relative;
    z-index: 1;
  }
  
  .poster .btn button {
      margin: 0 0 0;
    padding: 19px 58px;
  }
  
  .poster .left img {
    position: absolute;
    top: 85px;
    left: 0;
}
  
  .poster .right img {
    position: absolute;
    top: 85px;
    right: 0;
  }

/* =========== End of Poster ============ */

/* =========== Footer ============ */

footer {
    margin: 187px 0 0;
    background: var(--Dark);
    padding: 102px 112px 2px;
  }
  
  .top {
    border-bottom: 1px solid var(--w);
    padding: 0 0 75px;
  }
  
  footer .links i {
    font-size: 14px;
  }
  
  footer .links {
    margin-top: 38px;
  }
  
  footer .links a {
    margin: 3px;
  }
  
  footer .text-1 {
    display: grid;
  }
  
  footer .text-1 h1 {
    font-size: 19px;
    font-weight: 500;
    color: var(--yl);
    font-family: var(--Pop);
    text-align: start;
  }
  
  footer .text-1 a {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    color: var(--w);
  }
  
  footer .text-1 a:hover {
    color: var(--yl);
  }
  
  footer .copyright h1 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--w);
    text-align: center;
    line-height: 28px;
  }
  
  /* =========== End of Footer ============ */

  /* ====================================== */

  
/* =============================================== */


.tabs {
  --background: rgba(255, 96, 27, .2);
  --light-grey: #fff;
  --wave-color: #FF601B;
  --border-radius: var(--height);
  background: var(--background);
  width: 800px;
  height: 120px;
  padding: 0;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 6px 0px rgb(80 80 80 / 40%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.tabs label {
  width: 27px;
  height: 27px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform-origin: center bottom;
}
.tabs label::before {
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 0% 100% 50% 50%/0% 50% 50% 100%;
  transform: scale(1, 1) rotate(45deg);
  transform-origin: 50% 50%;
  background: var(--wave-color);
  display: block;
  position: absolute;
  top: -55px;
}
.tabs label svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.tabs label svg .icon {
  fill: none;
  stroke: var(--LighiDark);
  stroke-dashoffset: 98;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.15s linear 0.3s;
}
.tabs label .wave {
  height: 26px;
  width: 26px;
  position: absolute;
  overflow: hidden;
}
.tabs label .wave::before, .tabs label .wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  right: 0;
  background-repeat: repeat;
  height: 14px;
  width: 48px;
  background-size: 12px 12px;
  -webkit-animation: wave-animation 3s linear infinite;
          animation: wave-animation 3s linear infinite;
  transition: bottom 0.15s ease-out 0.35s;
}
.tabs label .wave::before {
  background-image: radial-gradient(circle at 6px -3px, transparent 6px, var(--wave-color) 6px);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  opacity: 0.5;
}
.tabs label .wave::after {
  background-image: radial-gradient(circle at 6px -3px, transparent 6px, var(--wave-color) 6px);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.tabs label:nth-of-type(1) .wave {
  -webkit-clip-path: url(#path-icon-01);
          clip-path: url(#path-icon-01);
}
.tabs label:nth-of-type(2) .wave {
  -webkit-clip-path: url(#path-icon-02);
          clip-path: url(#path-icon-02);
}
.tabs label:nth-of-type(3) .wave {
  -webkit-clip-path: url(#path-icon-03);
          clip-path: url(#path-icon-03);
}
.tabs label:nth-of-type(4) .wave {
  -webkit-clip-path: url(#path-icon-04);
          clip-path: url(#path-icon-04);
}
.tabs input {
  display: none;
}
.tabs input:checked + label {
  -webkit-animation: wiggle-animation 1s ease 0.3s;
          animation: wiggle-animation 1s ease 0.3s;
}
.tabs input:checked + label::before {
  -webkit-animation: drop-animation 0.35s ease-in both;
          animation: drop-animation 0.35s ease-in both;
}
.tabs input:checked + label svg .icon {
  stroke: #4B4B4B;
}
.tabs input:checked + label .wave:before {
  bottom: 0;
}
.tabs input:checked + label .wave:after {
  bottom: -4px;
}

@-webkit-keyframes wiggle-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(7deg);
  }
  90% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(7deg);
  }
  90% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wave-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes wave-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes drop-animation {
  70% {
    transform: scale(0.8, 3) rotate(45deg);
    top: -7px;
  }
  100% {
    transform: scale(1.5, 0.5) rotate(45deg);
    top: 19px;
  }
}
@keyframes drop-animation {
  70% {
    transform: scale(0.8, 3) rotate(45deg);
    top: -7px;
  }
  100% {
    transform: scale(1.5, 0.5) rotate(45deg);
    top: 19px;
  }
}

body .socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;
}
body .socials > a {
  display: block;
  width: 30px;
  opacity: 0.2;
  transform: scale(var(--scale, 0.8));
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
body .socials > a:hover {
  --scale: 1;
}

/* ========================================================= */


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--or);
  background-color:transparent;
}

.nav-link {
  padding: 0.5rem 34px;
color: var(--Dark);
}

.nav-link:focus, .nav-link:hover {
color: var(--or);
}

.nav-link:focus, .nav-link:hover .icon svg rect {
fill: var(--or);
}

.nav-link:focus, .nav-link .icon svg rect {
transition: all 0.3s ease;
}

.nav-pills {
  background: rgba(255, 96, 27, .1);
  box-shadow: 0px 4px 6px 0px rgba(80, 80, 80, 0.4);
  border-radius: 20px;
  border: transparent;
  padding: 25px; 
}

.tab-contant .nav-taxt h1 {
  font-family: var(--Pop);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.h1, h1 {
  font-size: calc(none);
}

@media (min-width: 1200px) {
  .h1, h1 {
    font-family: var(--Pop);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding: 5px 0;
  }
}